<div class="jumbotron">
    <h1>Sudanese Programmers Community</h1>
    <p class="lead">Sudanese Programmers Community is a community for sudanese programmers to bulid sudanese software infrastructure.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
</div>